
<div class="form-body">
    <!-- <div class="row"> -->
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Message Me</h3>
                    <form class="requires-validation" novalidate>
                        <div class="top-row">
                            <div class="field-wrap form-floating">
                                <input type="text" class="form-control" id="floatingName" placeholder="Firstname Lastname">
                                <label for="floatingName">Your Name</label>
                            </div>
                        
                            <div class="field-wrap form-floating">
                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Email address</label>
                            </div>
                        </div>
                        <div class="oth-row">
                          <div class="field-wrap form-floating ">
                            <input type="text" class="form-control" id="floatingSubject" placeholder="Subject">
                            <label for="floatingSubject">Subject</label>
                          </div>
                        </div>
                        <div class="oth-row">
                          <div class="field-wrap form-floating">
                            <textarea type="text" class="form-control" id="floatingMessage" placeholder="Message"></textarea>
                            <label for="floatingMessage">Message</label>
                          </div>
                        </div>
                        <div class="oth-row submit-row">
                            <div class="form-button mt-3" id="submit">
                                <button  type="submit" class="btn btn-primary btn-lg">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <!-- </div> -->
</div>
