  <!-- <div data-spy="scroll" data-target="#navbar-example">
    <nav #mainnav id="mainnav" class="">
      <ul class="dotnav dotnav-vertical dotnav-right nav">
          <li class="awesome-tooltip active" title data-title="Home">
            <a href="#home"></a>
          </li>
          <li class="awesome-tooltip " title data-title="About">
            <a href="#about" ></a>
          </li>
          <li class="awesome-tooltip " title data-title="Skills">
            <a href="#skills" ></a>
          </li>
          <li class="awesome-tooltip " title data-title="Projects">
            <a href="#projects" ></a>
          </li>
          <li class="awesome-tooltip  " title data-title="Contact">
            <a href="#contact" ></a>
          </li>        
      </ul>
    </nav>   
    <section id="home">     
      <div class="flex-container">
        <div class="ImgContainer">
          <img src="../assets/Yanika_Photo.jpg">
        </div>
        <div class="NameContainer row">
            <h2><b>Hello I'm</b></h2>
            <div id="flip">
              <div>
                <h1>Yanika Dontong</h1>
              </div>
            </div>
            <div class="description">
              <h1><b class="pos" >web developer</b></h1>
            </div>
            <div class="social">
              <a href="https://github.com/MintYani"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                  <path
                  d="M32 0a32.021 32.021 0 0 0-10.1 62.4c1.6.3 2.2-.7 2.2-1.5v-6c-8.9 1.9-10.8-3.8-10.8-3.8-1.5-3.7-3.6-4.7-3.6-4.7-2.9-2 .2-1.9.2-1.9 3.2.2 4.9 3.3 4.9 3.3 2.9 4.9 7.5 3.5 9.3 2.7a6.93 6.93 0 0 1 2-4.3c-7.1-.8-14.6-3.6-14.6-15.8a12.27 12.27 0 0 1 3.3-8.6 11.965 11.965 0 0 1 .3-8.5s2.7-.9 8.8 3.3a30.873 30.873 0 0 1 8-1.1 30.292 30.292 0 0 1 8 1.1c6.1-4.1 8.8-3.3 8.8-3.3a11.965 11.965 0 0 1 .3 8.5 12.1 12.1 0 0 1 3.3 8.6c0 12.3-7.5 15-14.6 15.8a7.746 7.746 0 0 1 2.2 5.9v8.8c0 .9.6 1.8 2.2 1.5A32.021 32.021 0 0 0 32 0z"/>
                </svg></a>
                 <path d="M377 0H135C60.562 0 0 60.563 0 135v242c0 74.438 60.563 135 135 135h242c74.438 0 135-60.563 135-135V135C512 60.562 451.437 0 377 0zm45 332c0 49.625-40.375 90-90 90H180c-49.625 0-90-40.375-90-90V180c0-49.625 40.375-90 90-90h152c49.625 0 90 40.375 90 90zm0 0" /></svg></a> 
              <a href="https://www.linkedin.com/in/%E0%B8%8D%E0%B8%B2%E0%B8%99%E0%B8%B4%E0%B8%81%E0%B8%B2-%E0%B8%94%E0%B8%AD%E0%B8%99%E0%B8%97%E0%B8%AD%E0%B8%87-8b2b901a2/"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M23.994 24v-.001H24v-8.802c0-4.306-.927-7.623-5.961-7.623-2.42 0-4.044 1.328-4.707 2.587h-.07V7.976H8.489v16.023h4.97v-7.934c0-2.089.396-4.109 2.983-4.109 2.549 0 2.587 2.384 2.587 4.243V24zM.396 7.977h4.976V24H.396zM2.882 0C1.291 0 0 1.291 0 2.882s1.291 2.909 2.882 2.909 2.882-1.318 2.882-2.909A2.884 2.884 0 002.882 0z" /></svg></a>
            </div>
        </div>
      </div>
    </section>
    <section id="about">              
      <h1>About</h1>
    </section>
    <section id="skills">              
      <h1>Skills</h1>
    </section>
    <section id="projects">                
      <h1>Projects</h1>
    </section>
    <section id="contact">    
      <h1>Contact</h1> 
    </section> 
  </div> -->

  
<header class="l-header">
  <app-nav-bar></app-nav-bar>
</header>

<main class="l-main">
  <section class="home bd-grid" id="home">  
    <app-home></app-home>  
  </section>
  <section class="about section " id="about">   
    <h2 class="section-title">About Me</h2>        
    <app-about></app-about>
  </section>
  <section class="skills section" id="skills">
    <h2 class="section-title">Skills</h2>          
    <app-skills></app-skills>
  </section>
  <section class="work section" id="exp">
    <h2 class="section-title">Experiences</h2>           
    <app-project></app-project>
  </section>
  <section class="contact section" id="contact">    
    <h2 class="section-title">Contact</h2>
    <app-contact></app-contact>
  </section>    
</main>

